/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* ------------------------------- */


/* body  */

body {
    background-image: url("/assets/backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    cursor: url("/assets/images/contact/cursorluffy.png"), pointer;
}


/* ----------------------- */


/* flex models */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* botón atrás y div del logotipo */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* formulario y las imagenes de los lados */

.logotype {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
}


/* botones de reset y enviar */


/* --------------------------------------- */


/* boton atras */

button,
a {
    all: unset;
    padding: 5px;
}

button img {
    border-radius: 100px;
    height: 3em;
    width: 3em;
}


/* ------------------------ */


/* estilo logo */

.logotype {
    width: 15em;
    height: 2.7em;
}

.logoporta {
    background-color: brown;
    border: 1px solid white;
    height: 2.7em;
    width: 3em;
}

.logoporta p {
    text-align: center;
}

.logoporta p,
.name p {
    font-family: 'Fredericka the Great', cursive;
    margin: 0;
    font-size: 2em;
    color: white;
}


/* -------------------------------- */


/* estilo titulo */

h1 {
    text-align: center;
    font-family: 'Hanalei Fill', cursive;
    letter-spacing: 3px;
    font-size: 4.5em;
    font-weight: 900;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    -webkit-text-stroke: 2px brown;
    -moz-text-stroke: 2px brown;
    background: linear-gradient(rgb(255, 136, 0), rgb(236, 200, 165));
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    color: transparent;
    -moz-text-fill-color: transparent;
    /* esto sirve para hacer transparente el color de la letra y entonces coger el background como color, así puedes degradar o poner fotos de fondo de letra */
    color: brown;
    margin: auto;
}


/* -------------------------- */


/* estilo imagenes */

main img {
    height: 15em;
}


/* estilos a input  */

#name,
#surname {
    width: 100%;
}


/* así ocupan el total y tienen el mismo tamaño, más agradable a la vista */

input[type="email"] {
    width: 15em;
}

input[type="tel"] {
    width: 6em;
}

span {
    display: flex;
    justify-content: center;
    align-items: baseline;
}


/* para que lugar de procedencia aparezca centrado y la label en linea con el select */


/* estilo form */

input,
select,
textarea {
    border: 2px dotted brown;
    border-radius: 10px;
    background-color: rgb(241, 241, 190);
}

form {
    padding: 1.2em;
    background-image: url("/assets/images/contact/backgroundform.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px groove rgb(128, 106, 61);
}

form label {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
}

form legend {
    font-family: 'Lobster', cursive;
    font-weight: 900;
    font-size: 1.5em;
    text-shadow: 2px -1px brown;
}


/* estilos botones finales */

input[type="submit"],
input[type="reset"] {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2em;
}

input[type="submit"] {
    font-size: 1.3em;
}


/* más grande que reset para resaltar importancia del boton */


/* estilos botones */

button:hover {
    cursor: url("/assets/images/contact/170512.png"), pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: brown;
    cursor: url("/assets/images/contact/170512.png"), pointer;
    border: 2px dotted white;
}


/* -------------------------- */

@media screen and (max-width: 730px) {
    img {
        display: none;
    }
    /* quitar las imagenes de fondo de los lados */
    .back {
        border-radius: 100px;
        height: 4em;
        width: 4em;
    }
    .back img {
        width: 3em;
        height: 3em;
    }
    .back img {
        width: 2em;
        height: 2em;
    }
    header {
        justify-content: space-between;
    }
    /* logotipo */
    .logotype {
        justify-content: center;
        width: 5em;
        height: 2em;
    }
    .logoporta {
        height: 1.5em;
        width: 3em;
    }
    .logoporta p {
        text-align: center;
    }
    .logoporta p,
    .name p {
        font-size: 1em;
    }
}