/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');


body{
    background-image: url("/assets/backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    width:100%;
    height:100%; 
    cursor: url("/assets/cursormarvel.png"), pointer;
    margin: auto;
}
/* modelos flexbox */
main{
  display:flex;
  flex-direction: column;
  
}
.title-main{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 15em;
 
 

}
.title-bio{
  display:flex;
  justify-content: center;
  visibility:hidden;
  
}

.titles-2-3{
  display:flex;
  justify-content: space-around;
  visibility:hidden;
}
.imageGroot{
  display:flex;
  justify-content:center;
  align-items:flex-end;
 
}

/* Dimensionar las imágenes para iconos */
.title-bio img, .titles-2-3 img{
  width: 2em;
  padding:4px 13px;
  
}
/* Estilos para los encabezados */
h1{
  
font-family: 'Hanalei Fill', cursive;
  letter-spacing: 3px;
  font-size: 5em;
  font-weight: 900;
  letter-spacing: 0.2em;
  word-spacing: 0.2em;
  -webkit-text-stroke: 2px brown;
  -moz-text-stroke: 2px brown;
  background: linear-gradient(rgb(255, 136, 0),rgb(236, 200, 165));
  -webkit-background-clip: text;
  color: transparent; 
  -webkit-linear-gradient:(rgb(255, 136, 0),rgb(236, 200, 165));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: brown;
  position: relative;
  top: -29px;
}

h2{
  font-family: 'Hanalei Fill', cursive;
  font-size:2.3em;
  letter-spacing: 1.8em;
  font-weight: 100;
  color:brown;
  text-shadow: 4px -4px black;
  -webkit-text-stroke: 2px rgb(230, 171, 117);
  -moz-text-stroke: 2px rgb(230, 171, 117);
  position:relative;
  top:-2.5em;


}

/* estilo a la zona del botón */
button{
  all:unset;
  padding: 1px;
  border: 2px dashed white;
  border-radius: 30px;
 
}
a{
  all:unset;
  display:flex;
  align-items: center;
  font-family: 'Piedra', cursive;
  font-size:2em;
  font-weight: 900;
  letter-spacing: 3px;
  -webkit-text-stroke: 1.3px brown;
  -moz-text-stroke: 1.3px brown;
  cursor:url("/assets/guantelete.png"), pointer;
}

/* imagen de groot */
.imageGroot img{
  height: 60vh;
  width: 25vw;
  position: relative;
  bottom: 60px;
  border-radius: 4em;
}
/* animaciones */
.hello{
  font-family:'Rubik Moonrocks', cursive;
  font-size: 50px;
  height: 1.2em;
  width: 5.2em;
  color: rgb(10, 36, 10);
  -webkit-text-stroke: 1px rgb(39, 78, 39);
  -moz-text-stroke: 1px rgb(39, 78, 39);
  border-radius: 30px;
  padding: 10px;
  position: relative;
  left:750px;
  bottom: 400px;
  font-family: 'Rubik Moonrocks', cursive;
  background-color: white;
  transform:rotate(20deg);
  filter: opacity(0);
  animation-name: saludo;
  animation-duration: 7s;
  animation-delay: 3s;
  animation-fill-mode:backwards;

}
.hello:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -34px;
  right: 245px;
  transform: rotate(28deg);
  animation-name: saludo;
}
@keyframes saludo {
  0%   {filter: opacity(0);}
  10% {filter: opacity(0.1);}
  15% {filter: opacity(0.2);}
  20% {filter: opacity(0.3);}
  25%  {filter: opacity(0.4);}
  50%  {filter: opacity(0.6);}
  75%  {filter:opacity(0.8);}
  100% {filter:opacity(1);}
} 
.imageGroot{
  animation-name: saludo;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;

}
.whereYouGo{
  font-family:'Rubik Moonrocks', cursive;
  font-size: 38px;
  text-align: center;
  line-height: 1em;
  height: 2em;
  width: 8em;
  color: rgb(10, 36, 10);
  -webkit-text-stroke: 1px rgb(39, 78, 39);
  -moz-text-stroke: 1px rgb(39, 78, 39);
  border-radius: 30px;
  padding: 7px;
  position: relative;
  left:250px;
  bottom: 540px;
  font-family: 'Rubik Moonrocks', cursive;
  background-color: white;
  transform:rotate(-20deg);
  filter: opacity(0);
  animation-name: direction;
  animation-fill-mode: backwards;
  animation-duration: 5s;
  animation-delay: 10s;
  
}
.whereYouGo:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -35px;
  left: 280px;
  transform: rotate(-28deg);
} 
@keyframes direction {
  0%   {filter: opacity(0);}
  25%  {filter: opacity(0.3);}
  50%  {filter: opacity(0.6);}
  75%  {filter: opacity(0.8);}
  100% {filter: opacity(1);}
} 
.title-bio{
  animation-name:click1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 16s;
}
.titles-2-3{
  animation-name:click1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 20s;
}
@keyframes click1 {
  0%   {filter: opacity(0);}
  25%  {filter: opacity(0.3);}
  50%  {filter: opacity(0.6);}
  75%  {filter: opacity(0.8);}
  100% {visibility: initial;}
}