body {
    background-image: url("/assets/images/biography/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 200px;
    width: 200px;
}


/* flex box models */

#prueba {
    display: none;
}

main {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.data-personal {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}

.hobbies {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 0.5;
}

.typeshobbies {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.draw {
    background-color: coral;
}

.imgs-dib {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sport {
    background-color: green;
}

.anime {
    background-color: crimson;
}

.gamer {
    background-color: darkred;
}

.origami {
    background-color: deeppink;
}

.data-academic {
    display: flex;
    flex-direction: column;
    background-color: gray;
}