body {
    background-image: url("/assets/images/biography/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 200px;
    width: 200px;
}

.sport {
    background-color: green;
}

.anime {
    background-color: crimson;
}

.gamer {
    background-color: darkred;
}

.origami {
    background-color: deeppink;
}

.draw {
    background-color: blue;
}

.data-academic {
    background-color: gray;
}

.data-personal {
    background-color: cornflowerblue;
}


/* flex box models */

main {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.data-personal,
.data-academic {
    display: flex;
    flex-direction: column;
}

.hobbies {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0 20px 0;
    flex-grow: 0.5;
}

.typeshobbies {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}

.draw,
.sport,
.anime,
.gamer,
.origami {
    display: flex;
    flex-direction: column;
}

.imgs-dib,
.imgs-orig {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}