    /* fuentes */
    
    @import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
    /* body */
    
    body {
        background-image: url("/assets/backgroung.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
        cursor: url("/assets/cursormarvel.png"), pointer;
        margin: auto;
    }
    /* modelos flexbox */
    
    main {
        display: flex;
        flex-direction: column;
    }
    
    .title-main {
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 13.5em;
    }
    
    .title-bio {
        display: flex;
        justify-content: center;
        visibility: hidden;
    }
    
    .titles-2-3 {
        display: flex;
        justify-content: space-evenly;
        visibility: hidden;
    }
    
    .imageGroot {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-basis: 20%;
    }
    
    .hello,
    .whereYouGo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .insidebut {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* imagen de groot */
    
    .imageGroot img {
        height: 16em;
        width: 12em;
        border-radius: 4em;
    }
    /* Estilos para los encabezados */
    
    h1 {
        font-family: 'Hanalei Fill', cursive;
        letter-spacing: 3px;
        font-size: 5em;
        font-weight: 900;
        letter-spacing: 0.2em;
        word-spacing: 0.2em;
        -webkit-text-stroke: 2px brown;
        -moz-text-stroke: 2px brown;
        background: linear-gradient(rgb(255, 136, 0), rgb(236, 200, 165));
        -webkit-background-clip: text;
        color: transparent;
        -webkit-linear-gradient: (rgb(255, 136, 0), rgb(236, 200, 165));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: brown;
        margin: 2px;
    }
    
    h2 {
        font-family: 'Hanalei Fill', cursive;
        font-size: 2.3em;
        letter-spacing: 1.4em;
        font-weight: 100;
        color: brown;
        text-shadow: 4px -4px black;
        -webkit-text-stroke: 2px rgb(230, 171, 117);
        -moz-text-stroke: 2px rgb(230, 171, 117);
        margin: 1em;
    }
    /* estilo a la zona del botón */
    
    button p {
        margin: auto;
        padding: 6px;
    }
    
    button {
        all: unset;
        border: 2px dashed white;
        border-radius: 30px;
    }
    
    a {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Piedra', cursive;
        font-size: 2em;
        font-weight: 900;
        letter-spacing: 3px;
        -webkit-text-stroke: 1.3px brown;
        -moz-text-stroke: 1.3px brown;
        cursor: url("/assets/guantelete.png"), pointer;
    }
    /* Dimensionar las imágenes para iconos */
    
    .title-bio img,
    .titles-2-3 img {
        width: 1.2em;
        padding: 4px 13px;
    }
    /* bocadillos*/
    
    .whereYouGo {
        height: 2em;
        width: 7em;
    }
    
    .hello {
        height: 1.3em;
        width: 5.2em;
    }
    
    .margin {
        margin-top: 1em;
        padding: 5px;
    }
    
    .hello {
        font-family: 'Rubik Moonrocks', cursive;
        font-size: 2em;
        color: rgb(10, 36, 10);
        -webkit-text-stroke: 1px rgb(39, 78, 39);
        -moz-text-stroke: 1px rgb(39, 78, 39);
        border-radius: 30px;
        font-family: 'Rubik Moonrocks', cursive;
        background-color: white;
        transform: rotate(20deg);
        animation-duration: 7s;
        animation-delay: 3s;
        animation-fill-mode: backwards;
        border: 3px solid green;
    }
    
    .whereYouGo {
        font-family: 'Rubik Moonrocks', cursive;
        font-size: 2em;
        text-align: center;
        color: rgb(10, 36, 10);
        -webkit-text-stroke: 1px rgb(39, 78, 39);
        -moz-text-stroke: 1px rgb(39, 78, 39);
        border-radius: 30px;
        font-family: 'Rubik Moonrocks', cursive;
        background-color: white;
        transform: rotate(-20deg);
        animation-fill-mode: backwards;
        animation-duration: 5s;
        animation-delay: 10s;
        border: 2px solid green;
    }
    /* animaciones */
    
    .hello {
        filter: opacity(0);
        animation-name: saludo;
        transform: rotate(20deg);
        animation-duration: 7s;
        animation-delay: 3s;
        animation-fill-mode: backwards;
        border: 3px solid green;
    }
    
    .whereYouGo {
        filter: opacity(0);
        animation-name: direction;
        transform: rotate(-20deg);
        animation-fill-mode: backwards;
        animation-duration: 5s;
        animation-delay: 10s;
        border: 2px solid green;
    }
    
    .imageGroot {
        animation-name: saludo;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-fill-mode: both;
    }
    
    @keyframes saludo {
        0% {
            filter: opacity(0);
        }
        10% {
            filter: opacity(0.1);
        }
        15% {
            filter: opacity(0.2);
        }
        20% {
            filter: opacity(0.3);
        }
        25% {
            filter: opacity(0.4);
        }
        50% {
            filter: opacity(0.6);
        }
        75% {
            filter: opacity(0.8);
        }
        100% {
            filter: opacity(1);
        }
    }
    
    @keyframes direction {
        0% {
            filter: opacity(0);
        }
        25% {
            filter: opacity(0.3);
        }
        50% {
            filter: opacity(0.6);
        }
        75% {
            filter: opacity(0.8);
        }
        100% {
            filter: opacity(1);
        }
    }
    
    .title-bio {
        animation-name: click1;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-delay: 16s;
    }
    
    .titles-2-3 {
        animation-name: click1;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-delay: 20s;
    }
    
    @keyframes click1 {
        0% {
            filter: opacity(0);
        }
        25% {
            filter: opacity(0.3);
        }
        50% {
            filter: opacity(0.6);
        }
        75% {
            filter: opacity(0.8);
        }
        100% {
            visibility: initial;
        }
    }