body{
    background-image: url("/assets/backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    width:100%;
    height:100%; 
    margin: 0;
}
/* modelos flexbox */
.title-main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.title-bio{
  display:flex;
  justify-content: center;
}
.titles-2-3{
  display:flex;
  justify-content: space-around;
}
.imageGroot{
  display:flex;
  justify-content:center;
  align-items:flex-end;
}
.portfolio, .contact{
  display:flex;
  justify-content: center;
}
/* Dimensionar las imágenes para iconos */
.title-bio img{
  width: 2em;
  
}
.titles-2-3 img{
  width: 2em;
  
}

