/* fuentes */

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap');

/* body */

body {
    background: radial-gradient(black, rgb(32, 32, 32), rgb(22, 21, 21));
    width: auto;
    height: auto;
    cursor: url("/assets/images/portfolio/cursor.png"), pointer;
}


/* flex boxes */

body {
    display: flex;
}

#body-princ {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-basis: 33.33%;
}

.logotype {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.nav-code,
.nav-psico {
    display: flex;
    flex-direction: row;
}

.emmet,
.carta,
.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 33.30%;
}

.nav-psico {
    flex-basis: 50%;
    justify-content: center;
    /* que ocupen el mismo espacio independient del contenido */
}

.logoporta {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


/* estilo logo */

.logotype {
    width: 15em;
    height: 2.7em;
}

.logoporta {
    background-color: rgb(84, 20, 145);
    border: 1px solid white;
    height: 2.7em;
    width: 3em;
}

.logoporta p {
    text-align: center;
}

.logoporta p,
.name p {
    font-family: 'Fredericka the Great', cursive;
    margin: 0;
    font-size: 2em;
    color: white;
}


/* estilo atrás */

.back img {
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 100px;
}

.back {
    all: unset;
}


/* estilo nav header */

.header-nav a {
    box-sizing: border-box;
    all: unset;
    color: white;
    padding: 2px;
}

.header-nav a:hover {
    box-sizing: border-box;
    color: black;
    background-color: white;
    border: 1px dashed black;
}


/* estilo de la separación */

.separation {
    background-image: url("/assets/images/portfolio/separationyoda.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 4em;
    height: 5em;
    width: 100%;
}


/* estilo boton lateral subir */

.up {
    all: unset;
    position: sticky;
    top: 30%;
    margin: 2px;
}

.up a {
    all: unset;
    writing-mode: vertical-rl;
    letter-spacing: 0.3em;
    font-family: 'Rubik Glitch', cursive;
    color: white;
    font-size: 2.5em;
    padding: 2px;
}

.up a:hover {
    background-color: white;
    border-radius: 50px;
    color: black;
}


/* estilo title */

h1 {
    font-family: 'Wallpoet', cursive;
    color: white;
    font-size: 3em;
    text-shadow: 2px -5px black;
    letter-spacing: 0.2em;
}

.socialicons a img {
    width: 2em;
    height: 2em;
    padding: 8px;
}

.circle {
    border-radius: 100px;
}


/* estilo cuerpo */

.presentation {
    font-family: 'Devonshire', cursive;
    color: white;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.projects p {
    font-family: 'Devonshire', cursive;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
}

h3 {
    font-family: 'Plaster', cursive;
    color: white;
    font-size: xx-large;
    text-shadow: 2px -4px black;
}


/* estilo contenidos */

figure {
    text-align: center;
}

.nav-psico img {
    height: 10em;
    width: 7.5em;
    border: 2px solid black;
}

.nav-psico a {
    all: unset;
    font-family: 'Maiden Orange', cursive;
    color: white;
}

.nav-psico a:hover {
    background-color: white;
    color: black;
}

.emmet,
.carta,
.responsive {
    margin: 6px;
}

.link img {
    height: 9em;
    width: 13em;
}

.content p {
    text-align: center;
}

.link img:hover {
    box-sizing: border-box;
    border: 2px solid white;
}

button:hover,
a:hover {
    cursor: url("/assets/images/portfolio/cursor2.png"), pointer;
}