    /* fonts */
    
    @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    body {
        background-color: #9abf88;
        cursor: url("/assets/images/biography/cursorlevi.png"), pointer;
    }
    
    h1 {
        font-family: 'Erica One', cursive;
        text-align: center;
        text-transform: uppercase;
        font-size: 5.3em;
        font-weight: 900;
        letter-spacing: 10px;
        background-image: url("/assets/images/biography/background2.jpeg");
        -webkit-text-stroke: 0.5px white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        margin-top: 0;
        margin-bottom: 0.4em;
    }
    
    img {
        height: 200px;
        width: 200px;
    }
    
    .sport {
        background-color: #4e2472;
    }
    
    .anime {
        background-color: #65387d;
    }
    
    .gamer {
        background-color: #993767;
    }
    
    .origami {
        background-color: #a34974;
    }
    
    .draw {
        background-color: #9163b6;
    }
    
    .data-academic {
        background: #be5168;
        text-align: center;
    }
    
    .data-personal {
        background-color: #7c9fb0;
    }
    /* flex box models */
    
    header {
        display: flex;
        flex-direction: column-reverse;
        height: 12em;
    }
    
    main {
        background-color: #5698c4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        font-family: 'Grape Nuts', cursive;
        font-size: 1.3em;
    }
    
    .data-personal,
    .data-academic {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    
    .hobbies {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 0 20px 0;
        flex-grow: 0.5;
    }
    
    .typeshobbies {
        background-color: #e279a3;
        display: flex;
        flex-direction: column;
        padding: 20px 30px 20px 0;
    }
    
    .draw,
    .sport,
    .anime,
    .gamer,
    .origami {
        display: flex;
        flex-direction: column;
    }
    
    .imgs-dib,
    .imgs-orig {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .content-personal,
    .content-sport,
    .content-gamer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .imag-content {
        padding-right: 2em;
    }
    /* estilo botones */
    
    .back,
    .back a {
        all: unset;
    }
    
    .back img {
        height: 2em;
        width: 2em;
        border-radius: 100px;
        position: relative;
        top: 10px;
        right: 6px;
    }
    
    .back a {
        border: 2px dashed rgb(18, 92, 18);
        padding: 10px;
        border-radius: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    
    .back a:hover,
    .back a:active {
        background-color: rgb(18, 92, 18);
        color: white;
    }
    
    main button {
        font-family: 'Pacifico', cursive;
        font-size: 1em;
        text-align: left;
        width: 14em;
    }
    
    main button:hover {
        background-color: #e4d99f;
    }
    
    button:hover {
        cursor: url("/assets/images/biography/iconattack.png"), pointer;
    }
    /* estilo cuerpo */
    
    .content-personal img {
        height: 7em;
        width: 13em;
        border-radius: 50px;
        /* esto de la posicion es al reves, si lo quieres subir parriba, coges abajo */
    }
    
    figcaption {
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }
    
    .iconbio {
        position: relative;
        height: 8em;
        width: 9em;
        top: -5em;
        left: 55em;
        transform: rotate(29deg);
        margin: -10em;
    }
    /* boton function */