body{
    background-image: url(/assets/thumb-1920-371656.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.bg-color #9b6844
flowerpot-main = #d1d2d4
flowerpot-dark = #9d9fa2
flowerpot-light = #ffffff
color-border = #592a16
groot-main = #994e2e
groot-dark = #814026
groot-light = #af5a2c
leaf = #46b749

pseudo-el()
  content: ''
  position: absolute

box-size(w, h)
  width: w
  height: h

*, :before, :after
  box-sizing: border-box

body
  background-color: bg-color

h1, h3, a
  text-align: center
  font-family: monospace
  color: SandyBrown

.container
  margin: 80px auto
  width: 350px

.baby-groot
  position: relative
  display: flex
  justify-content: center
  flex-direction: column

  .leaf
    opacity: 0
    position: absolute
    background-color: leaf
    border-radius: 0% 100% 50% 50% / 0% 50% 50% 100%

  .leaf-1
    top: -6px
    left: -7px
    box-size(30px, 30px)
    border: 6px solid color-border
    transform: rotate(34deg)
    animation: 3s 3s move-leaf1 cubic-bezier(0, 0.6, 0.6, 1)
    animation-fill-mode: forwards

    &:after
      pseudo-el()
      box-size(5px, 25px)
      background-color: color-border
      border-radius: 3px
      transform: rotate(-45deg)
      bottom: -12px
      right: -2px
      animation: 3s 3s move-leaf1-after cubic-bezier(0, 0.62, 0.63, 1)
      animation-fill-mode: forwards

  .leaf-2
    top: -28px
    left: 22px
    box-size(30px, 30px)
    border: 6px solid color-border
    transform: rotate(92deg)
    animation: 3.5s 3.3s move-leaf2 cubic-bezier(0.24, 0.38, 0, 1.06)
    animation-fill-mode: forwards

    &:after
      pseudo-el()
      box-size(5px, 20px)
      background-color: color-border
      border-radius: 3px
      transform: rotate(-45deg)
      bottom: -10px
      right: -2px
      animation: 3.5s 3.3s move-leaf2-after cubic-bezier(0.24, 0.38, 0, 1.06)
      animation-fill-mode: forwards

  .leaf-3
    top: -28px
    left: -22px
    box-size(30px, 30px)
    border: 6px solid color-border
    transform: rotate(-8deg) scale(0.7)
    animation: 2.6s 3s move-leaf3 ease-in-out
    animation-fill-mode: forwards

    &:after
      pseudo-el()
      box-size(5px, 20px)
      background-color: color-border
      border-radius: 3px
      transform: rotate(-45deg)
      bottom: -10px
      right: -2px

  .leaf-4
    bottom: -25px
    left: 0
    box-size(30px, 30px)
    border: 6px solid color-border
    transform: rotate(-100deg) scale(0.5)
    animation: 1s 3s move-leaf4 cubic-bezier(0, 0, 0.38, 0.94)
    animation-fill-mode: forwards

    &.alt
      transform: scale(-0.5, -0.5)
      left: 14px

    &:after
      pseudo-el()
      box-size(5px, 20px)
      background-color: color-border
      border-radius: 3px
      transform: rotate(-45deg)
      bottom: -10px
      right: -2px

  .top
    display: flex
    justify-content: center
    position: relative
    flex-direction: column
    align-items: center
    animation: 3s 0s grow-top ease-out
    z-index: 1

  .header
    position: relative
    width: 200px

  .hair
    position: absolute
    box-size(100%, 55px)
    background-color: bg-color
    z-index: 2

    &-1
      position: absolute
      box-size(35px, 70px)
      top: 30px
      left: -2px
      background-color: groot-main
      border-top: 10px solid color-border
      border-left: 10px solid color-border
      border-top-left-radius: 30px 15px
      transform: rotate(-5deg)

    &-2
      position: absolute
      box-size(10px, 20px)
      top: 28px
      left: 29px
      border-top: 20px solid color-border
      border-radius: 4px
      transform: rotate(-35deg)

    &-3
      position: absolute
      box-size(30px, 60px)
      top: -10px
      left: 35px
      background-color: groot-main
      transform: rotate(6deg)
      transform-origin: bottom center
      border-left: 10px solid color-border
      border-top: 10px solid color-border
      border-top-left-radius: 15px

      &:before
        pseudo-el()
        box-size(70px, 10px)
        left: -15px
        background-color: groot-main
        bottom: -10px

      &:after
        pseudo-el()
        box-size(17px, 10px)
        left: -18px
        background-color: groot-main
        bottom: -7px
        transform: rotate(25deg)

    &-4
      position: absolute
      box-size(10px, 65px)
      top: -8px
      left: 70px
      // background-color: #814026
      border-top: 10px solid color-border
      border-right: 10px solid color-border
      transform: rotate(-5deg)
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px

      &:before
        pseudo-el()
        box-size(10px, 65px)
        background-color: groot-main
        left: -10px

    &-5
      position: absolute
      box-size(50px, 50px)
      top: 10px
      left: 77px
      background-color: groot-main
      transform-origin: bottom
      transform: rotate(10deg)
      border-top: 10px solid color-border
      border-left: 10px solid color-border
      border-top-left-radius: 20px 10px
      border-top-right-radius: 5px

    &-6
      position: absolute
      box-size(10px, 30px)
      top: 14px
      left: 134px
      background-color: groot-main
      transform-origin: bottom
      transform: rotate(-15deg)
      border-top: 10px solid color-border
      border-right: 10px solid color-border
      border-top-right-radius: 5px

      &:before
        pseudo-el()
        box-size(10px, 20px)
        background-color: groot-main
        top: 10px
        left: -10px

    &-7
      position: absolute
      box-size(30px, 30px)
      top: 12px
      left: 152px
      background-color: groot-main
      transform-origin: bottom
      transform: rotate(-55deg)
      border-top: 10px solid color-border
      border-right: 10px solid color-border
      border-top-right-radius: 5px

      &:before
        pseudo-el()
        box-size(14px, 20px)
        background-color: groot-main
        top: 0px
        left: -14px

      &:after
        pseudo-el()
        box-size(34px, 23px)
        background-color: groot-main
        top: 3px
        left: -18px
        transform: rotate(40deg)

    &-8
      position: absolute
      box-size(30px, 30px)
      width: 30px
      height: 35px
      top: 25px
      left: 150px
      transform: rotate(-6deg)
      border-right: 12px solid #592a16
      border-top-right-radius: 15px

  .scar
    position: absolute
    right: 9px
    top: 80px
    box-size(28px, 28px)
    z-index: 2
    border: 3px solid color-border
    transform: rotate(-15deg)
    border-radius: 3px

    &:before
      pseudo-el()
      box-size(3px, 11px)
      background-color: color-border
      border-radius: 2px
      top: -8px
      left: 6px
      box-shadow: 6px 0 color-border, 0 27px color-border, 6px 27px color-border

    &:after
      pseudo-el()
      box-size(11px, 3px)
      background-color: color-border
      border-radius: 2px
      top: 4px
      left: -8px
      box-shadow: 0 6px color-border, 0 12px color-border

  .face-container
    position: relative
    display: flex
    justify-content: center
    top: 13px
    box-size(200px, 200px)
    background-color: groot-main
    border-radius: 100px
    border: 10px solid color-border
    z-index: 1

    .eye, .mouth
      position: relative
      top: 110px

    .mouth
      box-size(30px, 15px)
      overflow: hidden
      transform: translateY(24px) scale(0.7)
      margin-right: 10px
      margin-left: 10px

      &:before
        pseudo-el()
        box-size(30px, 30px)
        bottom: 0px
        border-radius: 0 0 15px 15px
        border: 5px solid #592a16
        border-top-color: transparent

    .eye
      box-size(30px, 30px)
      background-color: color-border
      border-radius: 18px

      &:before, &:after
        box-size(4px, 20px)
        pseudo-el()
        background-color: white
        border-radius: 5px
        left: 50%
        top: 5px

      &:before
        transform: translateX(-50%) rotate(45deg)

      &:after
        transform: translateX(-50%) rotate(-45deg)

  .middle
    display: flex
    justify-content: center
    position: relative
    animation: 3s 0s grow-mid ease-out

    .chest
      position: relative
      box-size(80px, 70px)
      overflow: hidden
      background-color: groot-main

      &:before
        pseudo-el()
        box-size(70px, 140px)
        border: 10px solid color-border
        background-color: bg-color
        border-radius: 50%
        left: -53px
        top: -30px

      &:after
        pseudo-el()
        box-size(70px, 140px)
        border: 10px solid color-border
        background-color: bg-color
        border-radius: 50%
        right: -53px
        top: -30px

    .arm-wrapper
      box-size(60px, 70px)

    .arm-left
      position: relative
      right: -7px
      top: 10px
      box-size(60px, 33px)
      background-color: groot-main
      border-top-left-radius: 40px
      border-bottom-left-radius: 20px
      border-top: 8px solid #592a16
      border-bottom: 8px solid #592a16
      border-left: 8px solid #592a16
      z-index: 1

    .arm-right
      position: relative
      left: -7px
      top: 10px
      box-size(60px, 33px)
      background-color: groot-main
      border-top-left-radius: 20px
      border-bottom-left-radius: 40px
      border-top: 8px solid #592a16
      border-bottom: 8px solid #592a16
      border-left: 8px solid #592a16
      z-index: 1
      transform: scaleX(-1)

  .bottom
    width: 100%
    display: flex
    /* justify-content: center; */
    align-items: center
    flex-direction: column

  .flowerpot-border
    position: relative
    width: 160px
    background-color: transparent
    border-top: 50px solid color-border
    border-left: 25px solid transparent
    border-right: 25px solid transparent
    border-radius: 5px

  .flowerpot-content
    position: absolute
    top: -45px
    left: -17px
    width: 145px
    background-color: transparent
    border-top: 45px solid #d1d2d4
    border-left: 25px solid transparent
    border-right: 25px solid transparent

  .flowerpot-dark-shadow
    position: absolute
    top: -45px
    left: -13px
    width: 40px
    background-color: transparent
    border-top: 42px solid #9d9fa2
    border-left: 12px solid transparent
    transform: skew(13deg)

  .flowerpot-light-shadow
    position: absolute
    top: -45px
    left: 103px
    width: 20px
    background-color: transparent
    border-top: 41px solid #ffffff
    border-right: 12px solid transparent
    transform: skew(-13deg)

  .ground
    position: relative
    top: -5px
    box-size(100%, 6px)
    background-color: color-border
    border-radius: 3px

    &:before
      pseudo-el()
      box-size(30px, 6px)
      background-color: color-border
      left: -40px
      border-radius: 3px
      box-shadow: -40px 0 color-border

    &:after
      pseudo-el()
      box-size(30px, 6px)
      background-color: color-border
      right: -40px
      border-radius: 3px
      box-shadow: 40px 0 color-border

@keyframes move-leaf1
  0%
    opacity: 1
    width: 10px
    height: 10px
    top: 36px
    left: 5px

  100%
    opacity: 1

@keyframes move-leaf1-after
  0%
    opacity: 1
    width: 0px
    height: 0px

  50%
    right: -6px

  100%
    opacity: 1

@keyframes move-leaf2
  0%
    opacity: 1
    top: -3px
    left: 7px
    width: 10px
    height: 10px

  100%
    opacity: 1

@keyframes move-leaf2-after
  0%
    opacity: 1
    height: 5px

  100%
    opacity: 1

@keyframes move-leaf3
  0%
    opacity: 1
    top: -10px
    left: 0px
    width: 10px
    height: 10px

  100%
    opacity: 1

@keyframes move-leaf4
  0%
    opacity: 1
    bottom: -10px
    width: 10px
    height: 10px

  100%
    opacity: 1

@keyframes grow-top
  0%
    transform: scale(0)
    bottom: -167px

  100%
    transform: scale(1)
    bottom: 0

@keyframes grow-mid
  0%
    transform: scale(0)
    bottom: -34px

  100%
    transform: scale(1)
    bottom: 0